<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="forgotenPass.css">
</head>
<body>
    <div class='mail'>
        <div class="mail-section header">
            <div className="logo">
                <h1>LOGIN - MICROFRONTEND</h1>
            </div>
        </div>
        <div class="mail-section body">
            <h3>Forgoten Password?</h3>
            <p class="p1">Please write the following code in the recovery page:</p> 
            <h4>{{validationCode}}</h4> 
            <p class="p2">You will be able to change you old password.</p>
        </div>
        <div class="mail-section footer">

        </div>
    </div>
</body>
</html>